<!-- The login page is where the Door Sight user logs in to change the mode (which is not that often) from lock/unlock to storing pictures, -->
<!-- They can also change their settings on this website -->

<head>

</head>

<body>
	<h1>Door Sight</h1>
	<br>
	<br>
	<h2>Login</h2>

	<form action="../attempt_login" method="post"> 
		<label>Username</label><input type="text" name="username">
		<br>
		<label>Password</label><input type="text" name="password">
		<br>
		<input type="submit" text="Go">
	</form>


</body>