<head>
	<title>Select Mode</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- my stylesheet -->
	<link rel="stylesheet" type="text/css" href="../static/index.css">

	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:100|Open+Sans:300" rel="stylesheet">

</head>

<body>
	<h1>Door Sight</h1>
	<br>
	<br>
	<h2>Select Mode</h2>

	<div style='text-align: center'>
		<button>Lock/Unlock Mode<a href=""></a></button>
		<br>
		<br>
		<button>Add Subjects<a href=""></a></button>
	</div
</body>